/* Social */

.social {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    box-shadow: 0 0 0 5px #3b3b3b;
    background-color: white;
}

.social__link {
    color: #0094e8;
}

.social__link:hover,
.social__link:focus {
    color: black;
}

.social__icon {
    fill: currentColor;
}
