/* Social */

.social {
    padding: 20px 40px;
    display: flex;
    justify-items: center;
    box-shadow: 0 0 0 5px #3b3b3b;
    background-color: white;
}

.social__link {
    margin-right: 30px;
    color: #0094e8;
}

.social__link:hover,
.social__link:focus {
    color: black;
}

.social__icon {
    fill: currentColor;
}
