/* Social */

.social {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    background-color: white;
}

.social__link {
    display: block;
    height: 32px;
    color: #0094e8;
}

.social__link:hover,
.social__link:focus {
    color: black;
}

.social__icon {
    height: 32px;
    fill: currentColor;
}
