/* Patreon */

.patreon__link {
    display: block;
    padding-left: 70px;
    background-color: #e85b46;
    background-image: url(images/patreon.svg);
    background-position: 20px 17px;
    background-size: auto 30px;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .patreon__link {
        padding-left: 90px;
        background-position-x: 40px;
    }
}
