/* Patreon */

.patreon__link {
    display: block;
    padding-left: 70px;
    background-color: #e85b46;
    background-image: url(images/patreon.svg);
    background-position: 20px 17px;
    background-size: auto 30px;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

.patreon__link:focus {
    outline: none;
}

.patreon__link::after {
    position: absolute;
    opacity: 0;
    margin-left: 15px;
    content:
        ' ' url(images/coin.gif)
        ' ' url(images/coin.gif)
        ' ' url(images/coin.gif);
}

.patreon__link:hover::after,
.patreon__link:focus::after {
    outline: none;
    opacity: 1;
}

@media (min-width: 768px) {
    .patreon__link {
        padding-left: 90px;
        background-position-x: 40px;
    }
}
