/* Episode */

.episode {
    padding-bottom: 1px;
    background-color: white;
}

@media (min-width: 768px) {
    .episode {
        padding-bottom: 20px;
    }
}

.episode__title {
    margin: -5px 0 25px 0;
    line-height: 1.25;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 32px;
}

@media (min-width: 768px) {
    .episode__title {
        margin-top: -10px;
    }
}

.episode__player {
    margin: 0 0 25px 0;
}
